### Import Initial SB_pairs Table

In [1]:
import pandas as pd
import numpy as np

In [2]:
import psycopg2
conn=psycopg2.connect(database="ernie",user="wenxi",host="localhost",password="temp_ERNIE_1234")
conn.set_client_encoding('UTF8')
conn.autocommit=True
curs=conn.cursor()

In [3]:
curs.execute("SET SEARCH_PATH TO wenxi;")

In [4]:
df = pd.read_sql('SELECT * FROM sleep_beauty_static_data', conn)
df = df.sort_values(['cited_1','cited_2','co_cited_year']).reset_index().drop(columns='index')

In [5]:
df.head()

,cited_1,cited_2,first_co_cited_year,first_possible_year,first_peak_year,co_cited_year,frequency,peak_frequency,cited_1_pub_year,cited_2_pub_year
0,4532,1105979,1984,1984,1989,1984,1,40,1984,1984
1,4532,1105979,1984,1984,1989,1985,6,40,1984,1984
2,4532,1105979,1984,1984,1989,1986,16,40,1984,1984
3,4532,1105979,1984,1984,1989,1987,30,40,1984,1984
4,4532,1105979,1984,1984,1989,1988,25,40,1984,1984

### Insert Missing Years

In [6]:
l = list([df['cited_1'], df['cited_2'], df['co_cited_year']])

In [7]:
l_new = [[],[],[]]

for i in range(len(l[0])-1):
    if (l[0][i] == l[0][i+1]) & (l[1][i] == l[1][i+1]):
        if l[2][i+1] - l[2][i] > 1:
            l_new[0].append(l[0][i])
            l_new[1].append(l[1][i])
            l_new[2].append(l[2][i])
            for j in range(1, (l[2][i+1] - l[2][i])):
                l_new[0].append(l[0][i])
                l_new[1].append(l[1][i])
                l_new[2].append(l[2][i]+j)

        else:
            l_new[0].append(l[0][i])
            l_new[1].append(l[1][i])
            l_new[2].append(l[2][i])
        
    else:
        l_new[0].append(l[0][i])
        l_new[1].append(l[1][i])
        l_new[2].append(l[2][i])
        
    if i == (len(l[0])-1):
        l_new[0].append(l[0][i+1])
        l_new[1].append(l[1][i+1])
        l_new[2].append(l[2][i+1])

In [8]:
d = pd.DataFrame({'cited_1':l_new[0], 'cited_2':l_new[1], 'co_cited_year':l_new[2]})

In [9]:
new = d.merge(df, how='left', on=['cited_1', 'cited_2', 'co_cited_year'])

In [10]:
import math

for i in range(len(new)):
    if math.isnan(new['frequency'][i]):
        new['frequency'][i] = 0
    if math.isnan(new['first_co_cited_year'][i]):
        new['first_co_cited_year'][i] = new['first_co_cited_year'][i-1]
    if math.isnan(new['peak_frequency'][i]):
        new['peak_frequency'][i] = new['peak_frequency'][i-1]
    if math.isnan(new['first_possible_year'][i]):
        new['first_possible_year'][i] = new['first_possible_year'][i-1]
    if math.isnan(new['first_peak_year'][i]):
        new['first_peak_year'][i] = new['first_peak_year'][i-1]
    if math.isnan(new['cited_1_pub_year'][i]):
        new['cited_1_pub_year'][i] = new['cited_1_pub_year'][i-1]
    if math.isnan(new['cited_2_pub_year'][i]):
        new['cited_2_pub_year'][i] = new['cited_2_pub_year'][i-1]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Apply Limitation: 

#### At least sleep 10 consecutive years in which no more than 2 citations per year

In [13]:
a = []

for i in range(len(new)-9):
    if (new['cited_1'][i] == new['cited_1'][i+9]) and (new['cited_2'][i] == new['cited_2'][i+9]):
        j = i
        init = i
        while j < i+9:
            if new['frequency'][j] <= 2:
                j = j + 1
                if j == init+9:
                    a.append((new['cited_1'][i], new['cited_2'][i]))
            else:
                break

In [14]:
a = set(a)
a = list(a)
len(a)

1381

### Find Nearest Trough to Peak for Each Distinct Pairs

In [15]:
new['distance'] = new['peak_frequency'] - new['frequency']

In [16]:
x = pd.DataFrame(columns=new.columns)
x['max'] = 0

for i in range(len(a)):
    g = new[(new['cited_1'] == a[i][0]) & (new['cited_2'] == a[i][1])]
    g = g.reset_index().drop(columns='index')
    g['max'] = 0
    
    b = []
    for j in range(len(g)):
        if (g['peak_frequency'][j] - 2 <= g['distance'][j]):
                b.append(g['co_cited_year'][j])
    
    for k in range(len(g)):
        if g['co_cited_year'][k] == max(b):
            g['max'][k] = 1
    x = pd.concat([x,g], ignore_index=True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

### Output Visualization

In [17]:
import matplotlib.pyplot as plt

In [26]:
from matplotlib.backends.backend_pdf import PdfPages


#with PdfPages('multipage_pdf_sb.pdf') as pdf:
    #for i in range(len(a)):
        #g = x[(x['cited_1'] == a[i][0]) & (x['cited_2'] == a[i][1])]
        #plt.title([a[i], i+1])
        #plt.axvline(g[g['max'] == 1].co_cited_year.item())
        #plt.xlabel('year')
        #plt.ylabel('frequency')
        #plt.xlim(1970, 2020)
        #plt.ylim(0, 300)
        #plt.plot(g['co_cited_year'], g['frequency'], color='green')
        #pdf.savefig()
        #plt.show()

### Calculate Slope

In [27]:
data = x[x['frequency'] == x['peak_frequency']].merge(x[x['max'] == 1], how = 'left', on=['cited_1','cited_2','first_co_cited_year', 
                                                                                          'first_possible_year','first_peak_year', 'peak_frequency',
                                                                                          'cited_1_pub_year','cited_2_pub_year'])

In [28]:
data = data[['cited_1','cited_2','first_co_cited_year', 'first_possible_year', 'first_peak_year', 
             'peak_frequency', 'cited_1_pub_year','cited_2_pub_year',
             'co_cited_year_x', 'co_cited_year_y', 'frequency_x', 'frequency_y']]

In [29]:
data.columns = ['cited_1','cited_2','first_co_cited_year', 'first_possible_year', 'first_peak_year', 
             'peak_frequency', 'cited_1_pub_year','cited_2_pub_year',
             'co_cited_year_peak', 'co_cited_year_trough', 'frequency_in_peak', 'frequency_in_trough']

In [30]:
data['slope'] = (data['frequency_in_peak'] - data['frequency_in_trough']) / (data['co_cited_year_peak'] - data['co_cited_year_trough'])

In [31]:
data.head()

,cited_1,cited_2,first_co_cited_year,first_possible_year,first_peak_year,peak_frequency,cited_1_pub_year,cited_2_pub_year,co_cited_year_peak,co_cited_year_trough,frequency_in_peak,frequency_in_trough,slope
0,3442880129,4243106617,1992.0,1989.0,2019.0,36.0,1982.0,1989.0,2019,2009,36.0,2.0,3.4
1,20619309,21182575,1994.0,1984.0,2016.0,34.0,1983.0,1984.0,2016,2001,34.0,2.0,2.13333
2,345491105,33845279880,1994.0,1988.0,2015.0,42.0,1988.0,1988.0,2015,2001,42.0,2.0,2.85714
3,23092594,27132478,1994.0,1993.0,2015.0,23.0,1987.0,1993.0,2015,2005,23.0,2.0,2.1
4,16264378,33751197582,1977.0,1974.0,2013.0,32.0,1974.0,1971.0,2013,2005,32.0,2.0,3.75

In [32]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://wenxi:temp_ERNIE_1234@localhost:5432/ernie')

In [33]:
curs.execute("SET SEARCH_PATH TO wenxi;")

In [34]:
data.head(0).to_sql('sleep_beauty_1380_pairs_slope', engine, if_exists='replace',index=False)

In [35]:
import io

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'sleep_beauty_1380_pairs_slope', null="") # null values become ''
conn.commit()